# BLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n

# MTU 247 — максимум для BLE 5, вмещает полное Subas сообщение
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=247

# Power Management
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_IDLE_TIME_BEFORE_SLEEP=3

# LED
CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO=8
